
@import "something"

// ---Mixin one Lorem ipsum----
//
// a: a lorem ipsum
// b: b lorem ipsum

foo-bar-mixin-one(a, b)
  display: block;
// ---Mixin two Lorem ipsum----
//
// a: a lorem ipsum
// b: b lorem ipsum

foo-bar-mixin-two(a, b)
  display: block;
