<h2>foo-bar-mixin-two</h2>

<p>Mixin two Lorem ipsum</p>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#example-mixin-two-sass">Sass</a>
  </li>
  <li>
    <a href="#example-mixin-two-scss">Scss</a>
  </li>
  <li>
    <a href="#example-mixin-two-less">Less</a>
  </li>
  <li>
    <a href="#example-mixin-two-stylus">Stylus</a>
  </li>
  <li>
    <a href="#example-mixin-two-html">Html</a>
  </li>
</ul>

<div class="tab-content">
  <code id="#example-mixin-two-sass" class="tab-pane active">
    
.example-mixin-two
  +foo-bar-mixin-two(-10px, -10px)

  </code>
  <code id="#example-mixin-two-scss" class="tab-pane">
    
.example-mixin-two {
  @include foo-bar-mixin-two(-10px, -10px);
}

  </code>
  <code id="#example-mixin-two-less" class="tab-pane">
    
.example-mixin-two {
  .foo-bar-mixin-two(-10px, -10px);
}

  </code>
  <code id="#example-mixin-two-stylus" class="tab-pane">
    
.example-mixin-two
  foo-bar-mixin-two(-10px, -10px)

  </code>
  <code id="#example-mixin-two-html" class="tab-pane">
    
&lt;div class=&quot;.example-mixin-two&quot;&gt;&lt;/div&gt;

  </code>
</div>
